<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Spring Framework Thyme Leaf example</title>
</head>
<body>
	<h1>Author List </h1>
	<table> 
		<tr>
			<th>ID</th>
			<th>First Name </th>	
			<th>Last Name </th>
		</tr>
		<tr th:each="author:${authors}">
			<td th:text="${author.id}"> 111</td>
			<td th:text="${author.firstName}">Lion </td>
			<td th:text="${author.lastName}">  King</td>
		</tr>
		
	</table>
	
</body>
</html>